<%= render "shared/page_title", title:"AllPost" %>

<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Blogs",blogs_path %>
  </li>
</ul><br/>

<% @blogs.each do |blog| %>
    <div class="row">
      <div class="col-md-2">
        <seletion class="blog_info center">
              <%= image_tag(blog.picture.url, size: "250x150", class: "gravatar") if blog.picture? %>
        </seletion>
       </div>
      <div class="col-md-8">
          <h4><%= link_to blog.title, blog_path(blog) %></h4>
           <p><%=  blog.topic %></p>
            <p>
         
          
        </p>
          <%= link_to blog_path(blog),class:"btn btn-success " do %>
             Read more
             <i class="fa fa-chevron-right"></i>
         <% end %>
      </div>
    </div>
<hr/>
 
<%end%>
<h5> <%= link_to home_path, class:"btn btn-warning btn-small" do %>
        Return to Home
        <i class="fa fa-home fa-lg"></i>
     <% end %>
     <%= link_to new_blog_path,class: 'btn btn-success', method: :get do %>
         Create New Post
         <i class="fa fa-plus-circle fa-lg"></i>
     <% end %>
</h5>
<%= will_paginate %>
